<div class="jumbotron"> <div class="container">
    <h1 align="center"><%= @word_text %></h1>
    <p  align="center"><%= @definition %> </p>

    <p id="masculin" class="btn btn-primary btn-lg"> M </p>

<!--       <%= form_for @level, url: wizard_path(:start), method: :put do |f| %>

        <div class="row">
          <div class="col-sm-4 text-center"'>
            <input name="word_id" type="hidden" value="<%= @word_id %>" />
            <input type="submit" id="feminin" value="F" class="btn btn-primary btn-lg">
            &nbsp<&nbsp&nbsp>&nbsp
            <input type="submit" id="masculin" value="M" class="btn btn-primary btn-lg">
        </div>
      </div>
    <% end %>
 -->  </div>
</div>


