<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <table class="table">

        <thead>
          <tr>
            <th width="10%">Word</th>
            <th width="50%">Definition</th>
            <th width="20%">Example</th>
            <th width="20%">Url</th>
          </tr>
        </thead>

        <tbody>
          <% @words.each do |word| %>
            <tr>
              
              <td align="left">
                <%= link_to(word[:user_word][:word_text], edit_user_word_path(word[:user_word])) %>
              </td>
              <td align="left">
                <%= word[:user_word][:definition] %>
              <td align="left">
                <%= word[:example].html_safe %>
              </td>
              <td align="left">
                <%= link_to word[:user_word][:source_url], word[:user_word][:source_url] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
     </div>
    </div>
  </div>
</div>
