
<div class="jumbotron" id="show_word"> 
  <div class="container">
      <div align="right">
      <% if @play_word_sound %>
        <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-volume-off fa-1x" /></button>
      <% else %>
          <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-volume-up" /></button>
      <% end %> 
      </div>

    <h1 align="center" id="word-text"><%= @user_word[:text] %></h1>
    
    <%= form_for @user_word, :url => {:action => 'remove'}, method: :put do |f| %>
        <%= f.submit "remove word" %>
    <% end  %>

</div>


