<div class="jumbotron" id="show_word"> 
  <div class="container">
    <h1 align="center"><%= @word_text %></h1>
    <p  align="center"><%= @definition %> </p>

    <%= form_for @level_instance, url: wizard_path(:show_word), method: :put do |f| %>
      <div class="row">
        <div class="col-sm-12 text-center"'>
          <input name="word_id" type="hidden" value="<%= @word_id %>" />

          <input type="submit" id="feminin" value="F" class="btn btn-primary btn-lg" name="F">
          <input type="submit" id="masculin" value="M" class="btn btn-primary btn-lg" name="M">
      </div>
    </div>
  <% end %>
</div>


