
<div class="jumbotron" id="show_word"> 
  <div class="container">
      <div align="right">
      <% if @play_word_sound %>
        <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-volume-off fa-1x" /></button>
      <% else %>
          <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-volume-up" /></button>
      <% end %> 
      </div>



    <h1 align="center" id="word-text"><%= @word_text %></h1>
    <h2  align="center"> <i>  ( <%= @gender %> ) </i> </h2>
    <p align="center" class="word-def-fr"><%= @definition_fr %> </p>
    <p align="center" class="word-def-en"><%= @definition_en %> </p>

</div>


