
<div class="jumbotron">
      <div class="container">
        <h1 align="center"><%= @word_text %></h1>
        <p  align="center"><%= @definition %> </p>
        <p  align="center">
          <a id="buttonM" class="btn btn-primary btn-lg" href="#" role="button">Masculin»</a>
          <a id="buttonF" class="btn btn-primary btn-lg" href="#" role="button">Feminin»</a>

          <div id="test">
            <a class="test">test stuff</a>
          </div>
        </p>
      </div>
    </div>
