<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card card-block text-xs-center">
        <h3 class="card-title">Table2</h3>
        <p class="card-text">A surface to place things on.</p>
        <a href="#" class="btn btn-primary">Masculin</a>
        <a href="#" class="btn btn-primary">Feminin</a>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <h3 class="card-header">Featured</h3>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



<div class="card text-xs-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs pull-xs-left">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
